
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1 {
    font-size: calc(36px + (62 - 36) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(48px + (72 - 48) * ((100vw - 320px) / (1920 - 320)));
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: calc(23px + (42 - 23) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(30px + (51 - 30) * ((100vw - 320px) / (1920 - 320)));
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(28px + (34 - 28) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-weight: bold;
    margin: 0;
}

h5 {
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (21 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin: 0;
}

h6 {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0;
}

a {
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.27;
    color: $primary-color;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
    }
}

ol, ul {
    padding: 0;
    margin: 0;
}
li {
    display: inline-block;
}

.gy-6 {
    margin: -18px;
    > div {
        padding: 18px;
    }
}

.label {
    background: $card-bg;
    border-radius: 18px;
    padding: 7px calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
    display: block;
    transition: 0.5s;
    &:hover {
        background: $primary-color;
        transition: 0.5s;
    }
}

.btn {
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (21 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    padding: 15px 40px;
    &:hover, &:focus, &:active {
        box-shadow: none;
    }
    &:active {
        &:focus {
            box-shadow: none;
        }
    }
}
.btn-lg {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(23px + (29 - 23) * ((100vw - 320px) / (1920 - 320)));
}
.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover, &:focus {
        background-color: darken($primary-color, 2%);
        border-color: darken($primary-color, 2%);
    }
}

.card {
    background: $card-bg;
    border-radius: 10px;
    margin-bottom: 32px;
    @include respond(mobile) {
        margin-bottom: 20px;
    }
    .card-body {
        padding: 30px;
        @include respond(mobile) {
            padding: 20px;
        }
    }
}

.btn-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: $footer-bg;
    box-shadow: 0px 3px 6px #0000004F;
    color: $white;
    right: -19px;
    top: -20px;
    opacity: 1;
    z-index: 1;
    &:focus, &:hover {
        box-shadow: none;
    }
}

/* input css */
.form-control {
    padding: 12px;
    border-radius: 10px;
    color: $bg-dark-50;
    &::placeholder {
        color: $text-light;
    }
    @include respond(mobile) {
        font-size: 14px;
    }
}
.input-group {
    .form-control {
        border-right: none;
    }
    &-text {
        background: $white;
        border-radius: 10px;
    }
}

.form-icon {
    .form-control {
        padding-right: 40px;
    }
    .search-icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 23px;
        height: 23px;
    }
}

/* dropdown css */
.dropdown {
    button, .dropdown-item {
        font-size: 14px;
        line-height: 17px;
        color: $white;
    }
    button {
        padding: 0;
        font-weight: normal;
        &:hover {
            color: $white;
        }
        &::after {
            background-image: url(../images/icons/down-arrow.svg);
            background-size: cover;
            background-repeat: no-repeat;
            border: none;
            width: 9px;
            height: 5px;
            margin-left: 9px;
        }
    }
    &-item {
        &:hover {
            background: $dropdown-bg;
        }
    }
}
.dropdown-menu {
    z-index: 2;
    background: $dropdown-bg;
    box-shadow: 2px 3px 6px #2626266E;
    border-radius: 10px;
    .dropdown-header {
        color: $white;
        font-size: 14px;
        font-weight: normal;
    }
    li {
        display: block;
    }
}

/* section css */
section {
    padding-top: calc(30px + (90 - 30) * ((100vw - 320px) / (1920 - 320)));
    .border-bottom {
        border-bottom: 1px solid $border-color !important;
    }
}
.section-b-space {
    padding-bottom: calc(30px + (78 - 30) * ((100vw - 320px) / (1920 - 320)));
}
.section-lg-space {
    padding: calc(30px + (140 - 30) * ((100vw - 320px) / (1920 - 320))) 0;
}

.bg-dark {
    background: $bg-dark !important;
}
.bg-dark1 {
    background: $bg-dark-50 !important;
}
.bg-dark, .bg-dark1 {
    color: $white;
}

.title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        @include respond(mobilesm) {
            margin-bottom: 10px;
        }
    }
    a {
        font-weight: 500;
        color: $white;
        text-align: right;
        display: flex;
        align-items: center;
        img {
            transition: 0.5s;
            margin-left: 5px;
            margin-top: 1px;
            width: 13px;
            height: 13px;
        }
        &:hover {
            font-size:  calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            line-height:  calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
            color: $primary-color;
            img {
                width: 18px;
                height: 18px;
                margin-left: 8px;
                transition: 0.5s;
            }
        }
    }
}
.title-2 {
    h2 {
        font-weight: 600;
        padding-bottom: 13px;
    }
    span {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            bottom: -13px;
            left: 0;
            width: 100%;
            border-bottom: 2px solid $primary-color;
        }
    }
}

@media (min-width: 1460px) {
    .container {
        max-width: 1430px;
    }
}