
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1 {
    font-size: calc(36px + (62 - 36) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(48px + (72 - 48) * ((100vw - 320px) / (1920 - 320)));
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: calc(23px + (42 - 23) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(30px + (51 - 30) * ((100vw - 320px) / (1920 - 320)));
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(28px + (34 - 28) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-weight: bold;
    margin: 0;
}

h5 {
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (21 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin: 0;
}

h6 {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0;
}

a {
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.27;
    color: $primary-color;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
    }
}

ol, ul {
    padding: 0;
    margin: 0;
}
li {
    display: inline-block;
}

.gy-6 {
    margin: -18px;
    > div {
        padding: 18px;
    }
}

.btn {
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (21 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    padding: 15px 40px;
    &:hover, &:focus, &:active {
        box-shadow: none;
    }
    &:active {
        &:focus {
            box-shadow: none;
        }
    }
}
.btn-lg {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(23px + (29 - 23) * ((100vw - 320px) / (1920 - 320)));
}
.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover, &:focus {
        background-color: darken($primary-color, 2%);
        border-color: darken($primary-color, 2%);
    }
}

/* input css */
.form-control {
    padding: 12px;
    border-radius: 10px;
    color: $bg-dark-50;
    &::placeholder {
        color: $text-light;
    }
}
.input-group {
    .form-control {
        border-right: none;
    }
    &-text {
        background: $white;
        border-radius: 10px;
    }
}

.form-icon {
    .form-control {
        padding-right: 40px;
    }
    .search-icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 23px;
        height: 23px;
    }
}

/* ratio css */
.ratio_landscape  {
    .bg-size {
        &:before {
            padding-top: 60%;
            content: "";
            display: block;
        }
    }
}

/* section css */
section {
    padding-top: calc(50px + (90 - 50) * ((100vw - 320px) / (1920 - 320)));
    .border-bottom {
        border-bottom: 1px solid $border-color !important;
    }
}
.section-b-space {
    padding-bottom: calc(30px + (78 - 30) * ((100vw - 320px) / (1920 - 320)));
}
.section-lg-space {
    padding: calc(60px + (140 - 60) * ((100vw - 320px) / (1920 - 320))) 0;
}

.bg-dark {
    background: $bg-dark !important;
}
.bg-dark1 {
    background: $bg-dark-50;
}
.bg-dark, .bg-dark1 {
    color: $white;
}

.title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        font-weight: 500;
        color: $white;
        text-align: right;
        img {
            transition: 0.5s;
            margin-left: 5px;
            margin-top: -1px;
        }
        &:hover {
            font-size:  calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            line-height:  calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
            color: $primary-color;
            img {
                width: 18px;
                height: 18px;
                margin-left: 8px;
                transition: 0.5s;
            }
        }
    }
}
.title-2 {
    h2 {
        font-weight: 600;
        padding-bottom: 13px;
    }
    span {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            bottom: -13px;
            left: 0;
            width: 100%;
            border-bottom: 2px solid $primary-color;
        }
    }
}

@media (min-width: 1460px) {
    .container {
        max-width: 1430px;
    }
}