
/* header css start */
@keyframes searchanimation {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.nav {
    .nav-link {
        color: $primary-color;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        line-height: 1.27;
        transition: 0.5s;
        padding: 0 15px;
        @include respond(tablet) {
            padding: 0 10px;
        }
        &:hover {
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
            font-weight: bold;
            transition: 0.5s;
        }
    }
    .text-white {
        &:hover {
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            font-weight: normal;
            transition: 0.5s;
        }
    }
}
.navbar {
    padding: 0;
    .navbar-nav {
        flex-direction: unset;
        justify-content: center;
        flex-wrap: wrap;
        .nav-link {
            position: relative;
            color: $white;
            padding: 15px 24px;
            text-align: center;
            transition: 0.5s;
            @include respond(ipad) {
                padding: 12px;
            } 
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 3px;
                background: $primary-color;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50px;
                opacity: 0;
                visibility: hidden;
                transition: 0.5s;
            }
            &.active, &:hover {
                // font-size: 20px;
                font-weight: 600;
                // line-height: 24px;
                transition: 0.5s;
                &::after {
                    opacity: 1;
                    visibility: visible;
                    transition: 0.5s;
                }
            }
            &:hover, &:focus {
                color: $white;
            }
        }
        .nav-item {
            display: flex;
            flex-wrap: nowrap;
            @include respond(mobile) {
                display: block;
                text-align: center;
            }
        }
    }
}

header {
    color: $white;
    transition: 0.5s;
    background: $bg-dark;
    > div, nav {
        background: $bg-dark;
        transition: 0.5s;
    }

    nav {
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    .nav {
        li {
            &:nth-child(2) {
                .nav-link {
                    width: 170px;
                    @include respond(ipad) {
                        width: unset;
                    }
                }
            }
        }
    }
   
    .d-flex {
        align-items: center;
        padding: 0 70px;
        @include respond(tablet) {
            padding: 0 30px;
        }
        @include respond(mobile) {
            padding: 0 12px;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .header-search {
        opacity: 0;
        transition: 0.5s;
        width: 52%;
        @include respond(laptop2) {
            width: 40%;
        }
        @include respond(ipad) {
            opacity: 1;
        }
        .form-icon {
            position: relative;
        }
        .form-control {
            background: #242424;
            border-radius: 8px;
            border: none;
            color: $white;
            &::placeholder {
                color: rgba($white, 0.32);
            }
        }
    }
    .search-icon {
        width: 23px;
        height: 23px;
    }

    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        animation: searchanimation 0.5s forwards;
        .navbar {
            .navbar-nav {
                height: 56px;
                .nav-link {
                    color: #615B54;
                    padding: 16px 21px;
                    &:hover, &.active {
                        color: $white;
                    }
                    @include respond(ipad) {
                        padding: 12px;
                    } 
                }
                @include respond(ipad) {
                    height: 47px;
                } 
                @include respond(mobile) {
                    height: auto;
                }
            }
        }
        .header-search {
            opacity: 1;
            transition: 0.5s;
        }
        > div {
            background: #131313;
            transition: 0.5s;
        }
        nav {
            background: #1A1A1A;
            transition: 0.5s;
            opacity: 1;
            visibility: visible;
        }
    }
}
.search-section {
    .navbar-nav {
        height: 54px;
        @include respond(ipad) {
            height: 48px;
        }
        @include respond(ipad) {
            height: auto;
        }
    }
}
/* header css end */