/* Responsive css start */
@include respond(laptop2) {
    .gy-6 {
        margin: -15px;
        > div {
            padding: 15px;
        }
    }
    .navbar-brand {
        img {
            width: 150px;
        }
    }
}

@include respond(tablet) {
    .gy-6 {
        margin: -10px;
        > div {
            padding: 10px;
        }
    }
    .filter-wrap {
        position: relative;
        h4 {
            margin-right: 0;
            cursor: pointer;
        }
        .filter-list {
            position: absolute;
            top: 20px;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            z-index: 1;
            padding: 15px;
            background: $dropdown-bg;
            width: 150px;
            &.open {
                top: 30px;
                opacity: 1;
                visibility: visible;
                transition: 0.5s;
            }
            li {
                display: block;
                padding: 0;
                + li {
                    &::before {
                        display: none;
                    }
                }
            }
        }
        .dropdown {
            .dropdown-toggle {
               &::after {
                   position: absolute;
                   right: 0;
               }
            }
        }
    }
}

@include respond(ipad) { 
    .btn {
        padding: 12px 20px;
    }
    header {
        .form-icon {
            .form-control {
                position: absolute;
                top: 20px;
                left: 0;
                padding: 15px;
                width: 220px;
                z-index: 3;
                opacity: 0;
                visibility: hidden;
                transition: all linear 0.3s;
                transform: translateY(-35px) scaleY(0);
            }
            &.open {
                .form-control {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px) scaleY(1);
                    transition: all linear 0.3s;
                }
            }
            .search-icon {
                position: relative;
                right: unset;
                top: unset;
                transform: unset;
            }
        }
        .header-search {
            width: auto;
            margin-left: auto !important;
            margin-right: 10px !important;
        }
        .nav-pills {
            .search-icon {
                margin-top: -5px;
            }
        }
    }
}

@include respond(mobile) {
    .navbar-toggler {
        position: absolute;
        top: 25px;
        right: 15px;
    }
    header {
        .nav {
            margin-right: 70px;
        }
        .navbar {
            position: unset;
            .navbar-nav {
                display: block;
                li {
                    display: block;
                }
            }
        }
        .header-search {
            .form-icon {
                position: unset;
                .form-control {
                    top: 100px;
                    left: 18px;
                }
            }
        }
        .navbar-collapse {
            position: absolute;
            top: 68px;
            background: $bg-dark;
            width: 100%;
            left: 0;
        }
    }
    .navbar-toggler-icon {
        width: 25px;
        height: 25px;
    }
    .title-2 {
       h2 {
        padding-bottom: 6px;
       }
        span {
            &::after {
                bottom: -6px;
            }
        }
    }
}

@include respond(mobilesm) {
    header {
        .nav {
            margin-right: 0;
        }
    }
    .title {
        display: block;
    }
}

/* Responsive css end */