/* Responsive css start */
@include respond(laptop2) {
    .gy-6 {
        margin: -15px;
        > div {
            padding: 15px;
        }
    }
    .navbar-brand {
        img {
            width: 150px;
        }
    }
}

@include respond(tablet) {
    .gy-6 {
        margin: -10px;
        > div {
            padding: 10px;
        }
    }
    .filter-wrap {
        position: relative;
        h4 {
            margin-right: 0;
            cursor: pointer;
        }
        .filter-list {
            position: absolute;
            top: 20px;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            z-index: 1;
            padding: 15px;
            background: $dropdown-bg;
            width: 150px;
            &.open {
                top: 30px;
                opacity: 1;
                visibility: visible;
                transition: 0.5s;
            }
            li {
                display: block;
                padding: 0;
                + li {
                    &::before {
                        display: none;
                    }
                }
            }
        }
        .dropdown {
            .dropdown-toggle {
               &::after {
                   position: absolute;
                   right: 0;
               }
            }
        }
    }
}

@include respond(ipad) { 
    .btn {
        padding: 12px 20px;
    }
    header {
       nav {
           opacity: 1;
           visibility: visible;
       }
       .navbar-brand {
           margin: 0;
           padding: 0;
       }
        .navbar-toggler {
            position: absolute;
            right: 24px;
            top: -50px;
            padding: 0;
            border: none;
            color: $white;
            &:focus-visible {
                outline: none;
            }
            &:focus {
                box-shadow: none;
            }
        }
        .nav-pills {
            .search-icon {
                margin-top: -5px;
            }
        }
        .navbar-collapse {
            position: fixed;
            right: 0;
            top: 0;
            height: 100vh !important;
            background: $footer-bg;
            transition: 0.5s;
            z-index: 8;
            width: 396px;
            box-shadow: 0 -46px 6px #00000080;
            padding-left: 45px;
            &.show {
                // animation: fadeIn 0.3s linear;
                z-index: 8;
            }
            .sidebar-logo {
                padding: 24px 30px 36px 0;
                justify-content: space-between;
                align-items: center;
                .brand-logo {
                    img {
                        height: 35px;
                    }
                }
            }
            ul {
                li {
                    border-bottom: 1px solid #2d2f32;
                }
            }
            .bottom-links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 32px;
                padding-left: 0;
                margin-top: 24px;
                .btn {
                    font-size: 14px;
                    line-height: 17px;
                }
                a {
                    font-size: 16px;
                    line-height: 20px;
                    color: $white;
                }
            }
        }
        &.fixed {
            .navbar-brand {
                img {
                    width: 45px;
                }
            }
            .navbar-toggler {
                top: -56px;
            }
        }
    }
    .navbar {
        .navbar-nav {
            display: block;
            li {
                display: block;
            }
            .nav-item {
                display: block;
                width: 100% !important;
            }
            .nav-link {
                text-align: left;
                padding-left: 0;
                &::after {
                    display: none;
                }
            }
        }
    }
}

@include respond(mobile) {
    header {
        .nav {
            margin-right: 70px;
        }
        .navbar-toggler {
            right: 12px;
        }
        &.fixed {
            .navbar-toggler {
                top: -53px;
            }
        }
    }
    .navbar-toggler-icon {
        width: 25px;
        height: 25px;
    }
    .title-2 {
       h2 {
        padding-bottom: 6px;
       }
        span {
            &::after {
                bottom: -6px;
            }
        }
    }
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .title {
        h3 {
            font-size: 18px;
            line-height: 21px;
        }
        a {
            font-size: 12px;
            line-height: 15px;
            &:hover {
                font-size: 12px;
                line-height: 15px;
                img {
                    width: 13px;
                    height: 13px;
                    margin-left: 5px;
                }
            }
        }
    }
    .trending-section {
        overflow: hidden;
        .arrow-slider {
            padding: 0;
            margin: 0 -32px 0 -28px;
            width: 100vw;
            .swiper-button {
                &-prev, &-next {
                    display: none;
                }
            }
        }
        .swiper-slide {
            width: 273px !important;
        }
    }
    .arrow-white {
        .swiper-button {
            &-prev, &-next {
                display: none;
            }
        }
    }
    .main-footer {
        text-align: center;
        .row {
            margin: -20px 0;
            > div {
                margin: 20px 0;
            }
        }
        .col-lg-3 {
            display: none;
        }
    }
}

@include respond(mobilesm) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .trending-section {
        .arrow-slider {
            margin: 0 -25px 0 -20px;
        }
    }
    header {
        .nav {
            margin-right: 0;
        }
        .navbar-collapse {
            width: 280px;
            padding-left: 25px;
        }
        .header-search {
            width: 175px;
        }
        &.fixed {
            .navbar-toggler {
                top: -50px;
            }
            .navbar-brand {
                img {
                    width: 35px;
                }
            }
        }
    }
}

/* Responsive css end */