/* style css start */
.search-panel {
    margin-top: -26px;
    padding-top: 0;
    padding-bottom: calc(30px + (63 - 30) * ((100vw - 320px) / (1920 - 320)));
    @include respond(ipad) {
        padding-top: 40px;
    }
    @include respond(mobile) {
        margin-top: 0;
        padding-top: 20px;
    }
    p {
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
    }
    form {
        margin-top: 36px;
        .input-group {
            .input-group-text {
                img {
                    width: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
                    height: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
                }
            }
        }
    }
}

/* swiper css */
.arrow-slider {
    @include respond(1540) {
        padding: 0 30px;
        @include respond(mobile) {
            padding: 0 20px;
        }
    }
    .swiper {
        &-button {
            &-prev {
                left: 0;
            }
            &-next {
                right: 0;
            }
        }
    }
    &.swiper_wrap{
        height:100%;
        width: 100%;
        position: relative;
        display: block;
    }
    .swiper-button-next{
        margin-top: 0px;
        position: absolute;
        top: 40%;
        right: -35px;
        transform: translateY(-50%);
        @include respond(1540) {
            right: -6px;
        }
        @media (max-width: 320px) {
            top: 30%;
        }
    }
    .swiper-button-prev{
        position: absolute;
        top: 40%;
        left: -35px;
        transform: translateY(-50%);
        margin-top: 0px;
        @include respond(1540) {
            left: -6px;
        }
        @media (max-width: 320px) {
            top: 30%;
        }
    }
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: $slider-bullet-bg;
    opacity: 1;
    @include respond(mobile) {
        width: 6px;
        height: 6px;
    }
}
.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background: $primary-color;
    @include respond(mobile) {
        width: 8px;
        height: 8px;
    }
}
.swiper {
    width: 100%;
    height: 100%;
    &-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
            text-align: left;
            width: 100%;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-button {
        &-next, &-prev {
            color: $primary-color;
            z-index: 2;
            &::after {
                font-size: 26px;
                font-weight: 900;
                transition: 0.5s;
                @include respond(mobile) {
                    font-size: 16px;
                }
            }
            &:hover {
                &::after {
                    font-size: 30px;
                    transition: 0.5s;
                    @include respond(mobile) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
/* style css end */

/* template box css */
.template {
    &-image {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        transition: 0.9s;
        > img {
            border-radius: 11px;
            width: 100%;
        }
        .overlay {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            background: $bg-overlay;
            padding: calc(8px + (24 - 8) * ((100vw - 320px) / (1920 - 320))) calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
            position: absolute;
            bottom: -90px;
            width: 100%;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            transition: all 0.9s ease-in-out;
            @include respond(laptop) {
               padding: 18px; 
            }
            @include respond(tablet) {
                padding: 12px;
            }
            @include respond(mobile) {
                padding: calc(8px + (24 - 8) * ((100vw - 320px) / (1920 - 320))) calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
            }
            h6 {
                margin-bottom: -4px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden;
                -webkit-box-orient: vertical;
            }
            span,p  {
                font-size: 10px;
                line-height: 12px;
            }
            a {
                color: $white;
                font-size: 12px;
                line-height: 15px;
                display: flex;
                align-items: center;
                @include respond(laptop) {
                    width: 122px;
                }
                @include respond(mobile) {
                    margin-left: 6px;
                }
                img {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    margin-left: 10px;
                    @include respond(laptop) {
                        width: 16px;
                        height: 16px;
                        margin-left: 6px;
                    }
                }
            }
            h6, span, a, p {
                opacity: 0;
                visibility: hidden;
                transition: 0.9s;
            }
            p {
                margin-top: 10px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                -webkit-box-orient: vertical;
            }
            .flex-grow-1 {
                max-width: 50%;
                @include respond(laptop) {
                    max-width: 60%;
                }
                @include respond(laptop2) {
                    max-width: 67%;
                }
                @include respond(tablet) {
                    max-width: 56%;
                }
                @include respond(ipad) {
                    max-width: 65%;
                }
                @include respond(mobile) {
                    width: 45%;
                    max-width: unset;
                }
            }
        }
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: inset 0 0 38px 9px rgba($black, 0.45);
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
        }
        &:hover {
            transition: 0.9s;
            &::before {
                opacity: 1;
                visibility: visible;
                transition: 0.5s;
            }
            .overlay {
                bottom: -1px;
                h6, span,p, a {
                    opacity: 1;
                    visibility: visible;
                    transition: 0.9s;
                }
            }
        }
    }
    &-content {
        padding-top: calc(15px + (26 - 15) * ((100vw - 320px) / (1920 - 320)));
        h5 {
            margin-bottom: 2px;
        }
        h4 {
            margin-bottom: 8px;
            a {
                color: $white;
            }
        }
    }
}
.theme-wrap {
    .template {
        &-image {
            .overlay {
                bottom: -100px;
                .flex-grow-1 {
                    @include respond(mobile) {
                        max-width: unset;
                        width: unset;
                    }
                }
                a {
                    @include respond(mobile) {
                        min-width: 123px;
                    }
                }
            }
            &::before {
                display: none;
            }
            &:hover { 
                .overlay {
                    bottom: 0;
                }
            }
        }
    }
}

/* video section css */
.video-section {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
    .row {
        padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
        @include respond(ipad) { 
            justify-content: center;
        }
    }
    .video {
        &-content {
            h4 {
                opacity: 0.68;
                font-weight: normal;
                font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
                line-height: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
            }
            p {
                font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
                line-height: calc(21px + (29 - 21) * ((100vw - 320px) / (1920 - 320)));
                margin: calc(20px + (42 - 20) * ((100vw - 320px) / (1920 - 320))) 0 calc(25px + (47 - 25) * ((100vw - 320px) / (1920 - 320)));
            }
            @include respond(ipad) {
                text-align: center;
                .w-100 {
                    width: auto !important;
                }
            }
            .btn {
                @include respond(mobile) {
                    font-size: 12px;
                }
            }
        }
        &-image {
            position: relative;
            .video-icon {
                position: absolute;
                content: '';
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
                img {
                    width: calc(50px + (117 - 50) * ((100vw - 320px) / (1920 - 320)));
                    height: calc(47px + (114 - 47) * ((100vw - 320px) / (1920 - 320)));
                }
            }
        }
    }
}

/* client section css */
.client-wrap {
    margin-top: calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
    align-items: center;
    @include respond(mobile) {
        margin-top: 0;
    }
    > div {
        text-align: center;
    }
}

/* testimonial section css */
.testimonial {
    &-section {
        padding-bottom: calc(50px + (82 - 50) * ((100vw - 320px) / (1920 - 320)));
    }
    &-slider {
        margin-top: 32px;
        @include respond(tablet) {
            margin-top: 10px;
        }
        @include respond(mobile) {
            margin-top: 0;
        }
    }
    &-content {
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320))) 
                 calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320))) 
                 calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320)));
        .d-flex {
            margin-top: 33px;
            align-items: flex-end;
            justify-content: flex-end;
            > img {
                width: 58px;
                height: 40px;
                margin-right: 30px;
            }
        }
        p {
            text-align: left;
            font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
        }
        h6 {
            font-size: 14px;
            line-height: 17px;
            font-weight: normal;
            position: relative;
            padding-top: 11px;
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 50px;
                height: 2px;
                border-radius: 50px;
                background: $primary-color;
            }
        }
        span {
            font-size: 12px;
            line-height: 15px;
        }
        @include respond(mobile) {
            background: #1B1D23;
            padding: 30px 42px;
            margin-bottom: 12px;
        }
        @include respond(mobilesm) {
            padding: 20px;
        }
    }
}

/* blog section css */
.blog {
    &-image {
        border-radius: 10px;
        img {
            border-radius: 10px;
        }
    }
    &-content {
        padding-top: 28px;
        padding-left: 14px;
        @include respond(laptop2) {
            padding-top: 20px;
        }
        @include respond(mobile) { 
            padding-left: 0;
        }
        h4 {
            font-weight: 500;
            margin-bottom: 6px;
            a {
                color: $white;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        p {
            width: 58%;
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
            @include respond(laptop) {
                width: 73%;
            }
            @include respond(laptop2) {
                width: 100%;
            }
        }
    }
}
.arrow-white {
    position: relative;
    .swiper-button {
        &-next, &-prev {
            top: 34%;
            width: 46px;
            height: 46px;
            background: $white;
            border-radius: 100%;
            z-index: 2;
            @include respond(laptop) {
                width: 36px;
                height: 36px;
            }
            @include respond(mobile) {
                width: 25px;
                height: 25px;
            }
            &::after {
                font-size: 19px;
                margin-top: 1px;
                @include respond(laptop) {
                    font-size: 16px;
                }
                @include respond(mobile) {
                    font-size: 12px;
                }
            }
        }
        &-prev {
            left: -21px;
            &::after {
                margin-right: 4px;
                @include respond(laptop) {
                    margin-right: 2px;
                }
            }
            @include respond(mobile) {
                left: -7px;
            }
        }
        &-next {
            right: -21px;
            &::after {
                margin-left: 4px;
                @include respond(laptop) {
                    margin-left: 2px;
                }
            }
            @include respond(mobile) {
                right: -7px;
            }
        }
    }
}

/* footer css */
footer {
    background: $footer-bg;
    color: $white;
    padding-top: calc(30px + (58 - 30) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));

    .column-list {
        column-count: 2;
        column-gap: 16px;
        @include respond(ipad) {
            column-gap: 10px;
        }
    }
    .main-footer {
        padding: 0 calc(30px + (78 - 30) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(30px + (58 - 30) * ((100vw - 320px) / (1920 - 320)));
        @include respond(laptop2) {
            padding: 0 20px;
        }
        @include respond(ipad) {
            padding: 0;
        }
        .footer-logo {
            display: block;
        }
        .row {
            align-items: center;
        }
        ul {
            li {
                display: block;
                a {
                    font-size: 12px;
                    line-height: 15px;
                    color: $white;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
        .footer {
            &-details {
                h5 {
                    margin-bottom: 20px;
                    @include respond(ipad) {
                        margin-bottom: 6px;
                    }
                }
            }
            &-links {
                li {
                    + li {
                        margin-top: 4px;
                    }
                }
            }
        }
    }
    .sub-footer {
        border-top: 1px solid $white;
        padding-top: 12px;
        @include respond(mobile) {
            text-align: center;
            border-top: none;
        }
        .social-links {
            text-align: right;
            @include respond(mobile) {
                text-align: center;
            }
            li {
                + li {
                    margin-left: 12px;
                }
            }
        }
        .copyright {
            @include respond(mobile) {
                padding-top: 6px;
                margin-top: 12px;
                border-top: 1px solid $white;
            }
        }
    }
}

/* inner page css */
.inner-page {
    padding-top: 148px;
    @include respond(laptop2) {
        padding-top: 140px;
    }
    @include respond(ipad) {
        padding-top: 84px;
    }
    @include respond(mobilesm) {
        padding-top: 76px;
    }
}
.breadcrumb {
    &-item {
        a {
            font-size: 14px;
            line-height: 17px;
            color: $white;
        }
        &.active {
            color: $breadcrumb-active-color;
        }
    }
    &-section {
        padding-top: 50px;
        padding-bottom: 11px;
        position: relative;
        @include respond(mobile) {
            padding-bottom: 0;
            padding-top: 30px;
        }
        h3 {
            margin-bottom: 2px;
            font-weight: bold;
        }
    }
}

.thumbnail {
    &-slider, &-nav {
        .swiper {
            &-slide {
                height: 552px;
                @include respond(laptop) { 
                    height: 400px;
                }
                @include respond(laptop2) {
                    height: 300px;
                }
                @media (max-width: 480px) {
                    height: 210px;
                }
                @include respond(mobilesm) {
                    height: 200px;
                }
                img {
                    border-radius: 10px;
                }
            }
        }
    }
    &-nav {
        margin-top: calc(25px + (45 - 25) * ((100vw - 320px) / (1920 - 320)));
        .swiper {
           &-slide {
                height: 87px;
                opacity: 0.7;
                transition: 0.5s;
                @include respond(laptop) {
                    height: 65px; 
                }
                img {
                    border-radius: 7px;
                }
                &-thumb-active, &:hover {
                    opacity: 1;
                    transition: 0.5s;
                }
           }
        }
    }
}
.product-arrow {
    position: relative;
    .swiper-button {
        &-next, &-prev {
            background: $white;
            width: 34px;
            height: 34px;
            box-shadow: 2px 1px 3px #FB99294D;
            border-radius: 100%;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            @include respond(laptop2) {
                width: 28px;
                height: 28px;
            }
            @include respond(mobile) {
                display: none;
            }
            &::after {
                font-size: 16px;
                @include respond(laptop2) {
                    font-size: 13px;
                }
            }
        }
        &-prev {
            left: -16px;
            &::after {
                margin-right: 2px;
                margin-top: 3px;
            }
            @include respond(mobile) {
                left: -6px;
            }
        }
        &-next {
            right: -16px;
            &::after {
                margin-left: 2px;
                margin-top: 3px;
            }
            @include respond(mobile) {
               right: -6px;
            }
        }
    }
    &:hover {
        .swiper-button {
            &-next, &-prev {
                opacity: 1;
                visibility: visible;
                transition: 0.5s;
            }
        }
    }
}
.download-fix {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    background: $footer-bg;
    padding: 14px 32px;
    width: 100%;
    button {
        width: 100%;
        text-transform: capitalize;
        font-size: 18px;
        padding: 15px 20px;
    }
}
.share-icon {
    position: absolute;
    right: 32px;
    top: 35px;
    display: none;
    @include respond(mobile) {
        display: block;
    }
    .dropdown-toggle {
        &::after {
            display: none;
        }
    }
    .dropdown-menu {
        min-width: 110px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        a {
            img {
                width: 35px;
                height: 35px;
            }
        }
        li {
            + li {
                margin-top: 12px;
            }
        }
    }
    > a {
        img {
            height: 16px;
        }
    }
}
.fix-bottom-space {
    @include respond(mobile) { 
        padding-bottom: 90px;
    }
}
.product-wrap {
    padding-right: 52px;
    @include respond(laptop) { 
        padding-right: 20px;
    }
    @include respond(tablet) { 
        padding-right: 0;
    }
    .thumbnail-slider {
        @include respond(mobile) { 
            padding-bottom: 28px;
        }
        .swiper-pagination {
            display: none;
            @include respond(mobile) {
                display: flex;
                align-items: center;
                justify-content: center;
                bottom: 0;
            }
        }
    }
    .arrow-slider {
        @include respond(1540) {
            padding: 0;
        }
        @include respond(mobile) { 
            padding: 0 12px;
            display: none;
        }
        .swiper-button {
            &-prev, &-next {
                top: 50%;
                &:after {
                    font-size: 18px;
                    @include respond(laptop2) {
                        font-size: 15px;
                    }
                }
            }
            &-prev {
                @include respond(1540) {
                    left: -25px;
                }
                @include respond(ipad) { 
                    left: -20px;
                }
                @include respond(mobile) { 
                    left: -12px;
                }
            }
            &-next {
                @include respond(1540) {
                    right: -25px;
                }
                @include respond(ipad) { 
                    right: -20px;
                }
                @include respond(mobile) { 
                    right: -12px;
                }
            }
        }
    }
    .product-details {
        padding-top: calc(30px + (52 - 30) * ((100vw - 320px) / (1920 - 320)));
        p {
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(23px + (25 - 23) * ((100vw - 320px) / (1920 - 320)));
            color: $light-text-color;
            width: 97%;
            @include respond(laptop2) {
                width: 100%;
            }
        }
        h5 {
            margin-top: calc(25px + (45 - 25) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: 18px;
        }
        ul {
            margin: -5px calc(-6px + (-10 - -6) * ((100vw - 320px) / (1920 - 320)));
            li {
                margin: 5px calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
            }
        }
    }
}
.right-sidebar {
    h4 {
        font-weight: 600;
    }
    .btn {
        font-weight: 600;
        font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin-top: 17px;
        @include respond(mobile) {
            margin-top: 12px;
        }
    }
    .sidebar-list {
        li {
            display: block;
            + li {
                margin-top: 21px;
                @include respond(mobile) {
                    margin-top: 15px;
                }
            }
        }
        .d-flex {
            align-items: flex-start;
            h5 {
                margin-bottom: 8px;
                @include respond(mobile) {
                    margin-bottom: 4px;
                }
            }
            img {
                margin-right: 20px;
                margin-top: 4px;
            }
        }
    }
}
.related-suggest {
    .title {
        h3 {
            font-weight: bold;
        }
    }
    .btn {
        font-weight: normal;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-top: calc(0px + (19 - 0) * ((100vw - 320px) / (1920 - 320)));
        @include respond(tablet) {
            padding-top: 16px;
            padding-bottom: 14px;
        }
    }
}

/* modal css */
.modal {
    &-content {
        background: $footer-bg;
        box-shadow: 0px 0px 14px #00000080;
        border-radius: 10px;
        border: none;
        color: $white;
    }
    &-body {
        padding: 0;
        border-radius: 10px;
    }
}
.signup-modal {
    .modal {
        &-dialog {
            @include respond(mobile) { 
                margin-left: 20px;
                margin-right: 20px;
            }
        }
        &-form {
            width: 64%;
            padding: 20px 0;
            @include respond(laptop2) {
                width: 72%;
            }
            h3 {
               margin-bottom: 5px;
            }
            h5 {
                font-weight: normal;
            }
            form {
                margin-top: 48px;
                @include respond(laptop2) {
                    margin-top: 30px;
                }
                .form-control, .input-group-text {
                    border-radius: 4px;
                    background: $input-bg-color;
                    border: none;
                    color: $input-text-color;
                }
                .input-group-text {
                    padding-left: 13px;
                    @include respond(ipad) { 
                        img {
                            height: 18px;
                            width: 18px;
                        }
                    }
                }
                .form-control {
                    padding: 18px 8px;
                    @include respond(ipad) {
                        padding: 14px 8px;
                    }
                    &::placeholder {
                        color: $input-text-color;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
                .input-group {
                    margin-bottom: 30px;
                    @include respond(ipad) {
                        margin-bottom: 20px;
                    }
                }
                .link-text {
                    margin-top: 13px;
                    text-align: center;
                    span {
                        font-size: 12px;
                        line-height: 17px;
                    }
                    a {
                        font-size: 14px;
                        font-weight: 500;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        &-right {
            height: 100%;
            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }
    .row {
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/* category page css */
.category {
    &-wrapper {
        p {
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    &-content {
        margin-bottom: calc(20px + (53 - 20) * ((100vw - 320px) / (1920 - 320)));
    }
    &-grid {
        margin-bottom: calc(40px + (90 - 40) * ((100vw - 320px) / (1920 - 320))) !important;
        @include respond(mobile) {
            margin-bottom: 0px !important;
        }
        > div {
            margin-bottom: calc(20px + (43 - 20) * ((100vw - 320px) / (1920 - 320)));
            @include respond(mobile) {
                margin-bottom: 20px;
            }
        }
    }
}
.sort-option {
    display: flex;
    align-items: center;
    h4 {
        margin-right: 34px;
        @include respond(mobile) {
            margin-right: 15px;
        }
    }
    .dropdown {
        margin-left: 15px;
        @include respond(ipad) {
            margin-left: 0;
        }
        .dropdown-toggle {
            display: flex;
            align-items: center;
            @include respond(ipad) {
                &::after {
                    display: none;
                }
                h4 {
                    img {
                        margin-left: 12px;
                    }
                }
            }
        }
        .dropdown-menu {
            li {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .dot {
                    display: block;
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    background: $white;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.5s;
                }
                &.select {
                    .dot {
                        opacity: 1;
                        visibility: visible;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}
.filter-panel {
    margin-bottom: 34px;
    @include respond(mobile) {
        margin-bottom: 20px;
    }
    h4 {
        font-weight: 500;
    }
}
.filter-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    h4 {
        margin-right: 30px;
        img {
            margin-left: 14px;
        }
    }
    .color-dropdown {
        width: 205px;
        .dot {
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background: $white;
            margin-left: auto;
            transition: 0.5s;
        }
        h6, a {
            display: flex;
           align-self: center;
        }
        h6 {
           .dot {
                margin-top: 8px;
           }
        }
    }
    .dropdown {
        .dropdown-toggle {
            display: flex;
            align-items: center;
            img {
                margin-right: 15px;
            }
        }
        .dropdown-menu {
            li {
                .dropdown-item {
                    display: flex;
                    align-items: center;
                    .dot {
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.5s;
                    }
                    &:hover {
                        .dot {
                            opacity: 1;
                            visibility: visible;
                            transition: 0.5s;
                        }
                    }
                }
                .color-box {
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    border-radius: 100%;
                    border: 0.5px solid #707070;
                    margin-right: 14px;
                }
                &.blue {
                    .color-box { 
                        background: #3F51B4;
                    }
                    &:hover {
                        a {
                            color: #3F51B4;
                        }
                        .dot {
                            background: #3F51B4;
                        }
                    }
                }
                &.yellow {
                    .color-box {
                        background: #FB9929;
                    }
                    &:hover {
                        a {
                            color: #FB9929;
                        }
                        .dot {
                            background: #FB9929;
                        }
                    }
                }
                &.purple {
                    .color-box {
                        background: #7B1FA1;
                    }
                    &:hover {
                        a {
                            color: #7B1FA1;
                        }
                        .dot {
                            background: #7B1FA1;
                        }
                    }
                }
                &.red {
                    .color-box {
                        background: #F34336;
                    }
                    &:hover {
                        a {
                            color: #F34336;
                        }
                        .dot {
                            background: #F34336;
                        }
                    }
                }
                &.green {
                    .color-box {
                        background: #8AC24A;
                    }
                    &:hover {
                        a {
                            color: #8AC24A;
                        }
                        .dot {
                            background: #8AC24A;
                        }
                    }
                }
                &.white {
                    .color-box {
                        background: $white;
                    }
                    &:hover {
                        a {
                            color: $white;
                        }
                        .dot {
                            background: $white;
                        }
                    }
                }
                &.black {
                    .color-box {
                        background: $black;
                    }
                    &:hover {
                        a {
                            color: $black;
                        }
                        .dot {
                            background: $black;
                        }
                    }
                }
            }
        }
    }
    .filter-list {
        margin: -4px 0;
        > li {
            position: relative;
            padding: 0 8px;
            margin: 4px 0;
            + li {
                &::before {
                    position: absolute;
                    content: '';
                    height: 100%;
                    left: -2px;
                    top: 0;
                    width: 0.3px;
                    background: #707070;
                }
            }
        }
    }
}
.pagination {
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.page-link {
    width: 34px;
    height: 34px;
    padding: 6px 11px;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
    color: $pagination-text-color;
    background: transparent;
    border: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &[aria-label="Previous"], &[aria-label="Next"] {
        width: auto;
        height: auto;
    }
    &:hover, &:focus {
        background: transparent;
        color: $pagination-text-color;
        box-shadow: none;
    }
    &:focus-visible {
        outline: none;
    }
    @include respond(mobile) {
        width: 28px;
        height: 28px;
        font-size: 13px;
        img {
            width: 13px;
            height: 13px;
        }
    }
}
.page-item {
    &.dots {
        color: $primary-color;
    }
    &.active {
        .page-link {
            z-index: 1;
            font-weight: 600;
            background: $primary-color;
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(19px + (21 - 19) * ((100vw - 320px) / (1920 - 320)));
            @include respond(mobile) { 
                font-size: 14px;
            }
        }
    }
    + .page-item { 
        margin-left: 6px;
        @include respond(mobile) {
            margin-left: 2px;
        }
    }
}

/* price page css */
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px;
    input {
      display: none;
      &:checked + .switch-state {
        &:before {
          transform: translateX(18px);
        }
      }
    }
  }
  .switch-state {
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $input-bg-color;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 0;
      bottom: 0;
      background-color: $primary-color;
      transition: 0.4s;
      border-radius: 20px;
    }
  }
.price-page {
    padding-top: 94px;
    @include respond(laptop2) {
        padding-top: 84px;
    }
    @include respond(mobile) {
        padding-top: 72px;
    }
    .plan {
        &-section {
            padding-top: calc(40px + (118 - 40) * ((100vw - 320px) / (1920 - 320)));
        }
        &-content {
            text-align: center;
            h1 {
                font-size: calc(34px + (60 - 34) * ((100vw - 320px) / (1920 - 320)));
                margin-bottom: 20px;
            }
            p {
                font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
                line-height: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
                width: 52%;
                margin: 0 auto;
                @include respond(laptop2) {
                    width: 70%;
                }
                @include respond(tablet) {
                    width: 100%;
                }
            }
            .price-data {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                margin-bottom: 20px;
                @include respond(ipad) {
                    margin-bottom: 15px;
                }
                h1 {
                    margin-bottom: 0;
                    font-weight: 600;
                }
                span {
                    margin-bottom: 10px;
                }
            }
        }
    }
    footer {
        @include respond(ipad) {
            background: $footer-bg !important;
            .sub-footer {
                border-top: none;
                padding-top: 0;
                .copyright {
                    padding-top: 6px;
                    margin-top: 30px;
                    border-top: 1px solid $white;
                }
            }
        }
    }
}
.plan-box {
    text-align: left;
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
    .plan {
        &-details {
            background: $plan-bg;
            padding: 15px;
            max-width: 962px;
            margin: 0 auto;
            border-radius: 10px;
            display: flex;
            position: relative;
            &.month-plan {
                display: none;
            }
            @include respond(ipad) {
                padding: 0;
                max-width: unset;
                display: block;
            }
            > div {
                width: 100%;
            }
            .row {
                .order-first {
                    @include respond(ipad) {
                        padding-bottom: 0;
                    }
                }
                > div {
                    padding: calc(15px + (55 - 15) * ((100vw - 320px) / (1920 - 320)))
                                calc(25px + (65 - 25) * ((100vw - 320px) / (1920 - 320)));
                    @include respond(ipad) {
                        padding: 36px calc(20px + (57 - 20) * ((100vw - 320px) / (767 - 320)));
                    }       
                    @include respond(mobilesm) {
                        padding: 20px;
                    }     
                    &:last-child {
                        border-left: 1px solid #2F3037;
                        @include respond(ipad) {
                            border-left: none;
                        }
                    }
                }
            }
        }
        &-list {
            @include respond(ipad) {
                text-align: center;
            }
            h5 {
                font-weight: bold;
                @include respond(ipad) {
                    position: absolute;
                    top: 36px;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-left: -10px;
                }
                @include respond(mobilesm) {
                    top: 20px;
                }
            }
            ul {
                margin-top: 16px;
                @include respond(ipad) {
                    margin-top: 0;
                    display: inline-block;
                }
                img {
                    margin-right: 17px;
                    @include respond(mobilesm) {
                        margin-right: 10px;
                        width: 15px;
                        height: 15px;
                    }
                }
                li {
                    display: flex;
                    align-items: center;
                    @include respond(mobilesm) {
                        font-size: 12px;
                        span {
                            margin-bottom: -2px;
                        }
                    }
                    + li {
                        margin-top: 10px;
                    }
                }
            }
        }
        &-subscribe {
            text-align: center;
            @include respond(ipad) {
                padding-top: 30px;
            }
            .ribbon {
                width: 150px;
                height: 150px;
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 0;
                @include respond(ipad) {
                    display: none;
                }
                &::before,
                &::after {
                  position: absolute;
                  z-index: -1;
                  content: '';
                  display: block;
                  border: 5px solid $primary-color;
                  border-top-color: transparent;
                  border-right-color: transparent;
                }
                span {
                    position: absolute;
                    display: block;
                    width: 225px;
                    padding: 4px 0;
                    background-color: $primary-color;
                    color: $plan-bg;
                    font-size: 12px;
                    line-height: 15px;
                    font-weight: 600;
                    text-transform: capitalize;
                    text-align: center;
                    left: 0;
                    top: 30px;
                    transform: rotate(45deg);
                }
                &::before {
                    top: 0;
                    left: 0;
                }
                &::after {
                    bottom: 0;
                    right: 0;
                }
            }
            .btn {
                padding: 19px 56px;
                margin-bottom: 13px;
                @include respond(laptop2) {
                    padding: 19px 35px;
                }
                @include respond(mobile) {
                    padding: 14px 52px;
                }
            }
        }
    }
}
.toogle-switch {
    margin-bottom: 39px;
    .form-switch {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        .form-check-input {
            width: 43px;
            height: 24px;
            background: $input-bg-color;
        }
    }
    .form-check {
        > span {
          margin-right: 50px; 
          font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
          line-height: calc(18px + (21 - 18) * ((100vw - 320px) / (1920 - 320)));
          transition: 0.5s;
          @include respond(ipad) {
            margin-right: 35px; 
          }
          &.active {
            font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;
            transition: 0.5s;
          }
          ~ span {
              margin-right: 0 !important;
              margin-left: 50px;
              @include respond(ipad) {
                margin-left: 35px; 
              }
          }
        }
        .form-check-input {
            float: unset;
        }
    }
}

.feature {
    &-section {
        h3 {
            font-weight: 500;
        }
        .row {
            margin-top: calc(15px + (45 - 15) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    &-box {
        text-align: center;
        padding: calc(15px + (44 - 15) * ((100vw - 320px) / (1920 - 320))) calc(20px + (75 - 20) * ((100vw - 320px) / (1920 - 320)));
        @include respond(laptop) {
            padding: 30px;
        }
        @include respond(laptop2) {
            padding: 30px 16px;
        }
        h5 {
            color: $primary-color;
            margin-top: 30px;
            margin-bottom: 9px;
        }
        p {
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
        }
    }
}

.accordion {
    margin-top: calc(20px + (83 - 20) * ((100vw - 320px) / (1920 - 320)));
    .accordion {
        &-button {
            background: transparent;
            box-shadow: none;
            color: $white;
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
            padding: 40px;
            @include respond(tablet) {
                font-size: 16px;
                line-height: 19px;
                padding: 30px;
            }
            @include respond(mobile) {
                padding: 30px 40px 30px 15px;
                align-items: flex-start;
            }
            &::after {
                background-image: url(../images/icons/accordion-arrow.svg);
                margin-top: -6px;
                @include respond(tablet) {
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                }
                @include respond(mobile) {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: rotate(-180deg) translateY(-50%);
                    margin-top: -19px;
                }
            }
            &.collapsed {
                &::after {
                    margin-bottom: -9px;
                    margin-top: 0;
                    @include respond(mobile) {
                        margin-bottom: 0;
                        transform: rotate(0) translateY(-50%);
                        margin-top: 4px;
                    }
                }
            }
        }
        &-body {
            padding: 0 65px 30px;
            color: #E9E9E9;
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
            @include respond(tablet) {
                padding: 0 54px 30px;
            }
            @include respond(mobile) { 
                padding: 0 40px 30px;
            }
        }
        &-item {
            background: $card-bg;
            border: none;
            border-radius: 10px;
            &.accordion-item {
                margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
            }
        }
    }
}
.faq-section {
    @include respond(ipad) {
        padding-bottom: 53px;
    }
    .see-link {
        text-align: center;
        margin-top: calc(30px + (56 - 30) * ((100vw - 320px) / (1920 - 320)));
        a {
            font-weight: 500;
            &:hover {
                color: $primary-color;
            }
        }
    }
}