
$black: #000;
$white: #fff;
$primary-color: #FB9929;
$bg-dark: #191b1f;
$bg-dark-50: #1f2127;
$border-color: #313337;
$bg-overlay: #34363a;
$text-light: #A5A5A5;
$slider-bullet-bg: #333741;
$footer-bg: #1A1A1A;
$breadcrumb-active-color: #BBBABA;
$card-bg: #262931;
$light-text-color: #C1C1C1;
$input-bg-color: #353A48;
$input-text-color: #7B7B7B;
$dropdown-bg: #1A1C24;
$pagination-text-color: #D9D9D9;
$plan-bg: #1D1E23;

// breakpoints 
@mixin respond ($breakpoint) {
    @if $breakpoint==1540 {
        @media only screen and (max-width: 1540px) {
            @content;
        }
    }
    @if $breakpoint==laptop {
        @media only screen and (max-width: 1399px) {
            @content;
        }
    }
    @if $breakpoint==laptop2 {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }
    @if $breakpoint==tablet {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }
    @if $breakpoint==ipad {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @if $breakpoint==mobile {
        @media only screen and (max-width: 575px) {
            @content;
        }
    }
    @if $breakpoint==mobilesm {
        @media only screen and (max-width: 420px) {
            @content;
        }
    }
}